# Set the port which is used for listening for commands:
# GET /ON HTTP/1.0 <--- Turns the clock on
# GET /OFF HTTP/1.0 <--- Turns the clock off
# GET /STATUS HTTP/1.0 <--- Get time plus info on whether clock is on or not
port: 5000

# Set the interface which is used for the access (to display IP address)
if: wlan0

# Set the time intervals when the clock should be turned on.
# Number before the colon is "days since Sunday", so 0 is Sunday,
# 1 is Monday etc.
# The time interval matches the hour, so 7-23 is 07:00:00-23:59:59.
# If a day is missing, like Monday (i.e. 1) below, the clock is off that day.
0: 7-23
2: 7-18
3: 7-18
4: 7-18
5: 7-18
6: 7-23

